<a href="https://colab.research.google.com/github/myozaw5288/git/blob/master/MMO(lab4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 267kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617545 sha256=700ba6d99fd71fb0fee6bea64614b120c6f11afd975a4e6a79f53a799cca40a6
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [3]:
import numpy as np
import pandas as pd
from typing import Dict, Tuple
from scipy import stats
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances, manhattan_distances
from surprise import SVD, Dataset, Reader
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib_venn import venn2
%matplotlib inline 
sns.set(style="ticks")

In [4]:
data=pd.read_csv('googleplaystore.csv', sep=",")

In [5]:
#размер датасета
data.shape

(10841, 13)

In [6]:
data.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [7]:
# Колонки с пропусками
hcols_with_na = [c for c in data.columns if data[c].isnull().sum() > 0]
hcols_with_na

['Rating', 'Type', 'Genres', 'Current Ver', 'Android Ver']

In [12]:
df = data[data['Genres'].notnull()]
df = df[~df['Genres'].str.isspace()]

In [13]:
App= df['App'].values
App[0:5]

array(['Photo Editor & Candy Camera & Grid & ScrapBook',
       'Coloring book moana',
       'U Launcher Lite – FREE Live Cool Themes, Hide Apps',
       'Sketch - Draw & Paint', 'Pixel Draw - Number Art Coloring Book'],
      dtype=object)

In [14]:
Genres= df['Genres'].values
Genres[0:5]

array(['Art & Design', 'Art & Design;Pretend Play', 'Art & Design',
       'Art & Design', 'Art & Design;Creativity'], dtype=object)

In [16]:
Category = df['Category'].values
Category[0:5]

array(['ART_AND_DESIGN', 'ART_AND_DESIGN', 'ART_AND_DESIGN',
       'ART_AND_DESIGN', 'ART_AND_DESIGN'], dtype=object)

In [17]:
%%time
tfidfv = TfidfVectorizer()
matrix = tfidfv.fit_transform(Genres)
matrix

CPU times: user 46.4 ms, sys: 1.96 ms, total: 48.3 ms
Wall time: 63.4 ms

In [23]:
class SimpleKNNRecommender:
    
    def __init__(self, X_matrix, X_App, X_Genres, X_Category):
        """
        Входные параметры:
        X_matrix - обучающая выборка (матрица объект-признак)
        """
        #Сохраняем параметры в переменных объекта
        self._X_matrix = X_matrix
        self.df = pd.DataFrame(
            {'App': pd.Series(X_App, dtype='str'),
            'Genres': pd.Series(X_Genres, dtype='str'),
            'Category': pd.Series(X_Category, dtype='str'),
            'dist': pd.Series([], dtype='float')})

    def recommend_for_single_object(self, K: int,
                X_matrix_object, cos_flag = True, manh_flag = False):
        """
        Метод формирования рекомендаций для одного объекта.
        Входные параметры:
        K - количество рекомендуемых соседей 
        X_matrix_object - строка матрицы объект-признак, соответствующая объекту
        cos_flag - флаг вычисления косинусного расстояния
        manh_flag - флаг вычисления манхэттэнского расстояния
        Возвращаемое значение: K найденных соседей
        """
        
        scale = 1000000
        # Вычисляем косинусную близость
        if cos_flag:
            dist = cosine_similarity(self._X_matrix, X_matrix_object)
            self.df['dist'] = dist * scale
            res = self.df.sort_values(by='dist', ascending=False)
            # Не учитываем рекомендации с единичным расстоянием,
            # так как это искомый объект
            res = res[res['dist'] < scale]
        
        else:
            if manh_flag:
                dist = manhattan_distances(self._X_matrix, X_matrix_object)
            else:
                dist = euclidean_distances(self._X_matrix, X_matrix_object)
            self.df['dist'] = dist * scale
            res = self.df.sort_values(by='dist', ascending=True)
            # Не учитываем рекомендации с единичным расстоянием,
            # так как это искомый объект
            res = res[res['dist'] > 0.0]            
        
        # Оставляем К первых рекомендаций
        res = res.head(K)
        return res

In [24]:
Genres[0]

'Art & Design'

In [25]:
mc_matrix = matrix[0]
mc_matrix

<1x66 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>

In [26]:
skr1 = SimpleKNNRecommender(matrix, App, Genres, Category)

In [27]:
rec1 = skr1.recommend_for_single_object(5, mc_matrix)
rec1

                                         App  ...           dist
23                    Mcqueen Coloring pages  ...  801421.625333
2111                  Mcqueen Coloring pages  ...  801421.625333
10438         Dolphin and fish coloring book  ...  789039.398405
26             Colorfit - Drawing & Coloring  ...  789039.398405
4      Pixel Draw - Number Art Coloring Book  ...  789039.398405

[5 rows x 4 columns]

In [28]:
# При поиске с помощью Евклидова расстояния 
rec2 = skr1.recommend_for_single_object(5, mc_matrix, cos_flag = False)
rec2

                                                 App  ...           dist
2111                          Mcqueen Coloring pages  ...  630203.736369
23                            Mcqueen Coloring pages  ...  630203.736369
7027  UNICORN - Color By Number & Pixel Art Coloring  ...  649554.619097
26                     Colorfit - Drawing & Coloring  ...  649554.619097
4              Pixel Draw - Number Art Coloring Book  ...  649554.619097

[5 rows x 4 columns]

In [29]:
# Манхэттэнское расстояние
rec3 = skr1.recommend_for_single_object(5, mc_matrix, 
                                        cos_flag = False, manh_flag = True)
rec3

                                                  App  ...           dist
10438                  Dolphin and fish coloring book  ...  912685.941941
9                       Kids Paint Free - Drawing Fun  ...  912685.941941
7027   UNICORN - Color By Number & Pixel Art Coloring  ...  912685.941941
43                                      Paint Splash!  ...  912685.941941
26                      Colorfit - Drawing & Coloring  ...  912685.941941

[5 rows x 4 columns]